/* CSS Document */

  #contenedor {
      margin: 0px auto;
      width: 800px;
      /* [disabled]background: #333333; */
      text-align: center;
      clear: both;
  }
  #contenedor ul {
      text-align: center;
      width: 100%;
      background: #252525;
      margin: 0px;
      padding: 0px 0px 0px 20px;
      border: 3px solid #1d1d1d;
      list-style: none;
      position: relative;
      float:left;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
  }
  #contenedor ul li {
      display: block;
      float:left;
      position: relative;
  }
  #contenedor ul li#buscador {
      float: right;
      position: relative;
  }
  #contenedor ul li a {/*Listas primer nivel*/
      font: bold 14px Tahoma, Geneva, sans-serif;
      color: #fefefe;
      text-decoration: none;
      display: block;
      float:left;
      padding: 13px;
  }
  #contenedor ul li a:hover, #contenedor ul li a.active {/*Estado Hover/Activo de los enlaces*/
      background: #1d1d1d;
      color: #b11e15;
      font-weight: bold;
  }
  #contenedor ul li ul {/*Estilos de la lista secundaria*/
      margin: 0px;
      padding: 0px;
      width: 150px;
      height: 0;
      float: left;
      position: absolute;
      left: 0px;
      top: 43px;
      border: 0;
      opacity: 0;
      filter: alpha(opacity=0); /* Internet Explorer*/
      overflow: hidden;
      background: #1D1D1D;
      z-index: -1;
      border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
      -webkit-border-radius: 0px 0px 5px 5px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }
  #contenedor ul li ul.children li a{
      color: #fefefe !important;
      padding: 13px 0 13px 20px;
      width: 130px;
      border-bottom: 1px solid #2f2f2f;
      background: url(img/arrow-normal.png) no-repeat 7px center !important;
      font-size: 12px;
      
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  #contenedor ul li ul li:last-child a{border-bottom:none !important;}
  #contenedor ul li ul li a:hover{
      color: #b11e15 !important;
      font-weight: bold;
      padding-left:28px;
      background: url(img/arrow.png) no-repeat 15px center !important;
  }
  
  
  #contenedor ul li:hover ul.children{height:250px;opacity:1;}
  
  #contenedor ul#menu:after {
      /* Posiciona la sobora por detras del color de la caja*/
      z-index: -1;
      position: absolute;
      /* no aplico ningún contenidos HTML */
      content: "";
      /* posiciona la sombra con respecto al derecho y superior */
      right: 10px;
      top: 45%;
      /* configura el ancho */
      width: 48%;
      height: 20px;
      /* color de fondo */
      background: #000000;
      /* definicion de la sombra estandar para box-shadow */
      box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
      /* rotacion de la sombra */
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      transform: rotate(2deg);
  }
  #contenedor ul#menu:before{
      /* Posiciona la sobora por detras del color de la caja*/
      z-index: -1;
      position: absolute;
      /* no aplico ningún contenidos HTML */
      content: "";
      /* posiciona la sombra con respecto al izquierdo y superior */
      left: 10px;
      top: 45%;
      /* configura el ancho */
      width: 50%;
      height: 20px;
      /* color de fondo */
      background: #000000;
      /* definicion de la sombra estandar para box-shadow */
      box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
      /* rotacion de la sombra */
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
  }
  #contenedor ul li ul#menu:before,#contenedor ul li ul#menu:after{visibility:hidden;}
  